---
import { Image } from 'astro:assets';
import aboutImg from "../assets/image/article/img-about.png"
import Layout from '../layouts/Layout.astro';
import Banner from '../components/banner.astro';
---
<Layout title="Sobre Nosotros">
    <Banner
            titulo="Apasionados por la Tecnología"
            subtitulo="Pasión por la tecnología, compromiso con la calidad."
    />
    <section class="py-16">
        <div class="container mx-auto">
            <div class="grid md:grid-cols-2 gap-12 items-center ">
                <div class="text-lg">
                    <h2 class="text-3xl font-bold text-black mb-4">Nuestra Misión</h2>
                    <p class="text-gray-900 leading-relaxed mb-8">
                        En TecnoMark, nuestra misión es simple: hacer que la mejor tecnología sea accesible para todos.
                        Seleccionamos cuidadosamente cada producto, desde componentes de hardware de alto rendimiento y periféricos de última</p>
                    <h2 class="text-3xl font-bold text-black mb-4">Nuestra Historia</h2>
                    <p class="text-gray-900 leading-relaxed">
                        Nacimos de un grupo de entusiastas de la tecnología que pasaban horas buscando los componentes perfectos.
                        Frustrados por la dificultad de encontrar todo en un solo lugar y con un servicio al cliente excepcional, decidimos crear TecnoMark.
                        Empezamos como una pequeña tienda y, gracias a la confianza de nuestra comunidad, hemos crecido hasta convertirnos en un referente para gamers, profesionales y amantes de la tecnología por igual.
                    </p>
                </div>

                <div class="w-full h-100 flex items-center justify-center ">
                    <Image
                            src={aboutImg}
                            alt="Logo del equipo TecnoMark"
                            class="w-full h-full object-cover rounded-2xl"
                    />
                </div>
            </div>
        </div>
    </section>
</Layout>