---
import {Image} from "astro:assets";
import Logo from "../assets/image/general/logo.png"
const navLinks = [
    { name: "Celulares", href: "/celulares" },
    { name: "Hardware", href: "/hardware" },
    { name: "Periféricos", href: "/perifericos" },
    { name: "Notebook", href: "/notebook" },
    { name: "Sobre Nosotros", href: "/nosotros" },
    { name: "Contacto", href: "/contacto" },
    { name: "Blog", href: "/blog" },
];
---
<header class="  flex w-full fixed text-white z-50 ">
    <div class="w-full flex justify-center items-center p-4 ">
        <Image src={Logo} alt="Logo" class="w-10 px-10" />
        <nav class="flex gap-x-13">{navLinks.map(link => (
                <a
                        href={link.href}
                        class="hover:text-gray-300 transition-colors text-lg font-bold">
                    {link.name}
                </a>
        ))}
        </nav>
    </div>
</header>