---
import { Image } from 'astro:assets';
import ImgBg1 from "../assets/image/ImgBg-00.png"
---
<section class="relative top-0 h-[700px] text-white text-center z-10 w-full">
    <div class="relative w-full h-full">
        <Image
            src={ImgBg1}
            alt="teclado y mouse"
            class="absolute inset-0 w-full h-full object-cover"
        />
        <div class="absolute inset-0 bg-black/50"></div>
            <div class="container relative mx-auto max-w-4xl h-full flex flex-col justify-center items-center text-center z-10">
                <h1 class="text-8xl mb-5 font-extrabold ">
                    TecnoMark
                </h1>
                <p class="text-2xl mb-10">
                    Lo que buscas a la punta de tus dedos
                </p>
                <div class="flex flex-col w-75 justify-center gap-4">
                    <a
                            href="/"
                            class="bg-green-600 hover:bg-green-800 font-bold py-4 px-8 rounded-lg transition-colors"
                    >
                        Ver Blog
                    </a>
            </div>
        </div>
    </div>
</section>